<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gentle.exview" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <feature name="Console">
        <param name="ios-package" value="CDVLogger" />
        <param name="onload" value="true" />
    </feature>
    <feature name="HandleOpenUrl">
        <param name="ios-package" value="CDVHandleOpenURL" />
        <param name="onload" value="true" />
    </feature>
    <feature name="IntentAndNavigationFilter">
        <param name="ios-package" value="CDVIntentAndNavigationFilter" />
        <param name="onload" value="true" />
    </feature>
    <feature name="GestureHandler">
        <param name="ios-package" value="CDVGestureHandler" />
        <param name="onload" value="true" />
    </feature>
    <feature name="File">
        <param name="ios-package" value="CDVFile" />
        <param name="onload" value="true" />
    </feature>
    <feature name="CordovaHttpPlugin">
        <param name="ios-package" value="CordovaHttpPlugin" />
    </feature>
    <feature name="Device">
        <param name="ios-package" value="CDVDevice" />
    </feature>
    <feature name="FileTransfer">
        <param name="ios-package" value="CDVFileTransfer" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>
    <feature name="Insomnia">
        <param name="ios-package" value="Insomnia" />
    </feature>
    <feature name="Keyboard">
        <param name="ios-package" onload="true" value="CDVKeyboard" />
    </feature>
    <feature name="CDVOrientation">
        <param name="ios-package" value="CDVOrientation" />
    </feature>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" />
        <param name="onload" value="true" />
    </feature>
    <feature name="WebP">
        <param name="ios-package" value="WebPPlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="NativeHost">
        <param name="ios-package" value="NativeHost" />
        <param name="onload" value="true" />
    </feature>
    <feature name="TTS">
        <param name="ios-package" value="CDVTTS" />
    </feature>
    <feature name="CordovaSQLite">
        <param name="ios-package" value="CordovaSQLite" />
    </feature>
    <feature name="Notification">
        <param name="ios-package" value="CDVNotification" />
    </feature>
    <feature name="Zip">
        <param name="ios-package" value="ZipPlugin" />
    </feature>
    <name>ExView</name>
    <description>Excellent Viewer</description>
    <author email="ghostgzt@gmail.com" href="https://plus.google.com/u/0/100299352627766095018">Gentle Kwan</author>
    <content src="MoeRuntimeIOS.SHTM" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackAllowsAirPlay" value="true" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="SuppressesLongPressGesture" value="false" />
    <preference name="Suppresses3DTouchGesture" value="false" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    <preference name="InAppBrowserStorageEnabled" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-installLocation" value="auto" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="DisableScrollingWhenKeyboardShrinksView" value="true" />
<!--    <preference name="OverrideUserAgent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.38 (KHTML, like Gecko) Version/11.0 Mobile/15A372 Safari/604.1" />-->
    <feature name="BackgroundMode">
        <param name="ios-package" value="APPBackgroundMode" />
    </feature>
    <feature name="CDVExitApp">
        <param name="ios-package" value="CDVExitApp" />
    </feature>
</widget>
